<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insurance.policy.pay.mapper.VehiclePayMapper">
    <resultMap type="VehiclePolicyMain" id="VehiclePolicyMainResult">
        <result property="id"    column="id"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="associatedPolicyId"    column="associated_policy_id"    />
        <result property="belongToHanderId"    column="belong_to_hander_id"    />
        <result property="belongToOrgId"    column="belong_to_org_id"    />
        <result property="businessSourceCode"    column="business_source_code"    />
        <result property="policyStatus"    column="policy_status"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="expiryDate"    column="expiry_date"    />
        <result property="standPremium"    column="stand_premium"    />
        <result property="duePremium"    column="due_premium"    />
        <result property="version"    column="version"    />
        <result property="insertTime"    column="insert_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="compulsory"    column="compulsory"    />
        <result property="epolicyUrl"    column="epolicy_url"    />
    </resultMap>
    <update id="updateVehiclePolicyStatues">
        update ry_cloud set policy_status = 4 where policy_no=#{policyNo}
    </update>
    <select id="selectVehiclePolicyByPolicyNo"
            resultType="com.insurance.policy.admin.domain.VehiclePolicyMain">
         select * from ry_cloud where policy_no=#{policyNo}
    </select>
    <select id="policySelectByStatus" resultType="com.insurance.policy.admin.domain.VehiclePolicyMain">
        select * from ry_cloud where policy_status = 4
    </select>
    <select id="refundSelect" resultType="com.insurance.policy.admin.domain.VehiclePolicyMain">
        select * from ry_cloud where policy_status = 5
    </select>
</mapper>